{
  "$schema": "https://json.schemastore.org/swcrc",
  "minify": false
  "env": {
    "targets": {
      "firefox": "106"
    },
    "mode": "entry",
    "coreJs": "3.22"
  },
  "jsc": {
    "target": "es2021",
    "parser": {
      "syntax": "ecmascript",
      "jsx": false,
      "topLevelAwait": true
    }
  }
}
