{
  "$schema": "https://json.schemastore.org/swcrc",
  "minify": false,
  "env": {
    "targets": {
      "firefox": "106"
    }
  },
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": false,
      "topLevelAwait": true
    }
  }
}
